<form action="{{ path('shaythamc_link_management_edit_site', { 'siteId' : siteId }) }}" method="post" {{ form_enctype(form) }}>
    
    
    
    {{ form_widget(form) }}
    

    <input type="submit" />
    <input type="submit" value="Delete" name="_delete" />
</form>
